{% extends "./base.html" %}

{% block title %} Edición de Alumno {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3>Edición de Alumnos</h3>
        <div class="card">
            <div class="card-body">
                <form action="/editarAlumno/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" value="{{alumno.codigo}}" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" value="{{alumno.nombre}}" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido" name="txtApellido" class="form-control" value="{{alumno.apellido}}" placeholder="Apellido" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="fcNacimiento" name="fcNacimiento" class="form-control" value="{{alumno.fecha_nacimiento|date:"Y-m-d"}}" placeholder="Fecha de Nacimiento" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}