{% extends "./base.html" %}

{% block title %} Gestión de Alumno {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h3>Gestión de Alumnos</h3>
        <div class="card">
            <div class="card-body">
                <form action="/registrarAlumno/" method="POST">{% csrf_token %}
                    
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código" min="1" maxlength="8" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="fcNacimiento" name="fcNacimiento" class="form-control" placeholder="Fecha de Nacimiento" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 ">
        <h3>Listado de Alumnos</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Fecha Nacimiento</th>
                        <th colspan="2" class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alumnos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{a.codigo}}</td>
                        <td>{{a.nombre}}</td>
                        <td>{{a.fecha_nacimiento|date:"d-m-Y"}}</td>
                        <td class="text-center"><a href="../edicionAlumno/{{a.codigo}}" class="btn btn-info">Editar</a></td>
                        <td class="text-center"><a href="../eliminarAlumno/{{a.codigo}}" class="btn btn-danger btnEliminacionAlumno">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}